version: "3.9"

services:
  api:
    build: .
    container_name: uni-portal-api
    ports:
      - "8079:8079"
    depends_on:
      - db
      - redis
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=arman
      - DB_PASSWORD=tinder
      - DB_NAME=tinder
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    restart: unless-stopped
    env_file:
      - .env

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: uni-portal-worker
    depends_on:
      - db
      - redis
    restart: unless-stopped
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=arman
      - DB_PASSWORD=tinder
      - DB_NAME=tinder
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  db:
    image: postgres:15
    container_name: tinder_db
    environment:
      POSTGRES_USER: arman
      POSTGRES_PASSWORD: tinder
      POSTGRES_DB: tinder
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: uni-portal-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    command: -H unix:///var/run/docker.sock
    ports:
      - "9000:9000"
      - "8000:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    restart: unless-stopped

volumes:
  postgres_data:
  portainer_data:
